<div class="header-top-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-area float-left">Traivan</div>
        <div class="float-right logo-area">
          <%= link_to logout_path do %>
            <i class="fas fa-sign-out-alt"> </i> Logout
          <% end %>
        </div>
      </div><!--col-lg-12-->
    </div><!--row-->
  </div><!--container-->
</div><!--header-top-area-->
