<div class="column-list-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="column-inner bg-white">
            <h2><span class="counter">50,000</span></h2>
            <p>Total Website Traffics</p>
        </div>
      </div><!--col-lg-3-->

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="column-inner bg-white">
            <h2><span class="counter">50,000</span></h2>
            <p>Total Website Traffics</p>
        </div>
      </div><!--col-lg-3-->

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="column-inner bg-white">
            <h2><span class="counter">50,000</span></h2>
            <p>Total Website Traffics</p>
        </div>
      </div><!--col-lg-3-->

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="column-inner bg-white">
            <h2><span class="counter">50,000</span></h2>
            <p>Total Website Traffics</p>
        </div>
      </div><!--col-lg-3-->


    </div><!--row-->
</div><!--column-list-4-->